
h1{
    text-align: center;
}

button{
    width: 10vw;
    height: 3vh;
}

.instructions {
    text-align: center;
    margin: 2rem;
}

.clouds {
    position: relative;
}

.container {
    margin: 100px;
    position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

}

.top-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    border: 1px solid black;
}
   


/* #level-display {
    background-color: green;
} */


.top-row > button {
    margin: 1rem;
    width: 10vh;
    height: 3vh;
    
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}


.middle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    
}

#notation-display > img { 
    width: 800px;
    height: 400px;
}


.bottom-row {
    display: flex;
    justify-content: space-evenly;
}


.bird {
    height: 5vh;
    width: 5vw;
    margin-top: 3rem;
    filter: grayscale(0%);
    
}

.controls{
    display: flex;
    align-items: flex-end;
    background-color: grey;

}

.note-d {
    position: absolute;
    top: 493px;
    height: 125px;
    width: 125px;
}



