@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 0;
}

.tree-branch-sign {
    position: absolute;
    top: 150px;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 1000px;
    /* margin: 0 auto; */
    opacity: 0.9;
    /* background-color: rgba(37, 247, 89, 0.534); */
}

.clouds {
    width: 2000px;
    height: 1500px;
    opacity: 0.7;
    filter: blur(3px) 
}


.container {
    position: absolute;
    width: 100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
}

header{
    position: relative;
    top: 20px;

}

h1 {
    position:relative;
    right: 170px;
    bottom: 10px;
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
    font-family: 'Amatic SC', cursive;
    margin: 0 auto;
    color: rgb(149, 100, 79);
}


#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 150px;
    font-size: 30px;
    margin: 30px auto;
    color: rgb(121, 75, 59);
    /* background-color:rgba(241, 11, 11, 0.267); */
}

.top-row {
    display: flex;
    justify-content: space-evenly;
    /* height: 130px; */
    /* border: 1px solid black; */
}

.level-box{
    color: rgb(0, 0, 0);
    width: 200px;
    /* padding: 10px; */
    border-radius: 5px;
    /* border: 1px solid black;
    background-color: rgba(0, 186, 243, 0.349); */
}

#level-display{
    font-size: 35px;
    margin: 0;
}

#try-count {
    font-size: x-large;
    margin: 5px;
}

button{
    border-radius: 5px;
    align-self: center;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
    border: 1px solid rgba(0, 0, 0, 0.404);
    transition: .5s;
    
}

.start-button{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 30rem;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(121, 75, 59 )
}

button:hover {
    background-color: rgba(255, 255, 255, 0.562);
    transition: 0.3s;
}

button:active{
    background-color: rgb(0, 186, 243);
    color:white;
    transition: 0.1s;
}
.reset-button-transform {
    height: 5rem;
    width: 15rem;
    background-color: rgb(0, 186, 243);
    color: white;
    font-size: 30px;
}


.reset-button-transform:hover{
    background-color: rgba(0, 186, 243, 0.5);
}
.reset-button-transform:active{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 186, 243);
}


#play-melody{
    height: 100px;
    width: 200px;
    font-size: x-large;
}

#play-relative{
    height: 100px;
    width: 200px;
    font-size: x-large;
}



#notation-display{ 
    height: 25em;
    width: 50em;
    /* border: 1px solid black; */

}

.note-input{
    display: flex;
    position: absolute;
    top: 615px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 17em;
    width: 25em;
    /* margin: 100% 100%; */
    /* background-color: rgba(240, 255, 255, 0.514); */
}

.display-c {
    position: relative;
    top: 125px;
    height: 11em;
    padding: 0px 30px;
    transition: .5s;
}

.display-d {
    position: relative;
    top: 110px;
    height: 11em;
    padding: 0px 30px;
}
.display-e {
    position: relative;
    top: 90px;
    height: 11em;
    padding: 0px 30px;
}
.display-g {
    position: relative;
    top: 45px;
    height: 11em;
    padding: 0px 30px;
}
.display-a {
    position: relative;
    top: 23px;
    height: 11em;
    padding: 0px 30px;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    
}    


.bird {
    margin: 2em auto;
    filter: grayscale(100%);
    transition: 0.3s;   
}   


.bird:hover{
    filter: grayscale(0%);
    width:200px;
    height:200px;
}

.bird:active:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.note-name {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    position: relative;
    bottom: 40px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  /* @media {

  } */