@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    font-family: 'Caveat', cursive;
    /* text-align: center; */
    margin: 0;
    background-image: url("Images/clouds-background.jpeg");
    background-size:cover;
    background-position: center;

}

.landing-page {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom:1100px;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}



ol{
    list-style-type: none;
}

.tree-branch-sign {
    position: absolute;
    top: 150px;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 1000px;
    opacity: 0.9;
}

.clouds {
    width: 3000px;
    opacity: 0.7;
    filter: blur(3px);
    object-fit: fill;
}


.container {
   height: 1250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: normal;
   text-align: center;
}

h1 {
    position:relative;
    right: 170px;
    bottom: 50px;
    font-size: 100px;
    letter-spacing: 5px;
    font-family: 'Amatic SC', cursive;
    margin: 0 auto;
    color: rgb(149, 100, 79);
}


#instructions {
    text-align: center;
    width: 600px;
    height: 150px;
    font-size: 30px;
    margin: 10px auto;
    color: rgb(121, 75, 59);
}

.top-row {
    display: flex;
    justify-content: space-evenly;
}

.level-box{
    color: rgb(0, 0, 0);
    width: 200px;
    border-radius: 5px;
}

#level-display{
    font-size: 35px;
    margin: 0;
}

#try-count {
    font-size: x-large;
    margin: 5px;
}

button{
    border-radius: 5px;
    align-self: center;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
    border: 1px solid rgba(0, 0, 0, 0.404);
    transition: .5s;
}

.start-button{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 30rem;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(121, 75, 59 )
}

button:hover {
    background-color: rgba(255, 255, 255, 0.562);
    transition: 0.3s;
}

button:active{
    background-color: rgb(0, 186, 243);
    color:white;
    transition: 0.1s;
}
.reset-button-transform {
    height: 5rem;
    width: 15rem;
    background-color: rgb(0, 186, 243);
    color: white;
    font-size: 30px;
}

.reset-button-transform:hover{
    background-color: rgba(0, 186, 243, 0.5);
}

.reset-button-transform:active{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 186, 243);
}

#play-melody{
    height: 100px;
    width: 200px;
    font-size: x-large;
}

#play-relative{
    height: 100px;
    width: 200px;
    font-size: x-large;
}

#notation-display{ 
    max-width: 1000px;
    margin: 0 auto;
}

.note-input{
    display: flex;
    width: 650px;
    height: 250px;
    position: absolute;
    top: 56%;
    left: 51%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(240, 248, 255, 0.637); */
}

.display-c {
    position: relative;
    top: 100px;
    height: 11em;
    padding: 0px 30px;
    transition: .5s;
}

.display-d {
    position: relative;
    top: 90px;
    height: 11em;
    padding: 0px 30px;
}
.display-e {
    position: relative;
    top: 75px;
    height: 11em;
    padding: 0px 30px;
}
.display-g {
    position: relative;
    top: 20px;
    height: 11em;
    padding: 0px 30px;
}
.display-a {
    position: relative;
    top: -5px;
    height: 11em;
    padding: 0px 30px;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
}    

.bird {
    filter: grayscale(100%);
    transition: 0.3s;   
}   

.bird:hover{
    filter: grayscale(0%);
    /* width:200px;
    height:200px; */
}

.bird:active:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.note-name {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    position: relative;
    bottom: 40px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
    font-size: 30px;
}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
